<h1 class="text-center">Bienvenid@ {{user.firstName}} {{user.lastName}}!</h1>


 <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="../../assets/img/corredor_mio.jpg" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../assets/img/kisko_mio.jpg" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../assets/img/kiosko_mio2.jpg" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../assets/img/paisaje.jpg" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../assets/img/jardin_mio.jpg" alt="Third slide">
      </div>
    </div>
  </div>

  <footer>
    <!-- <p class="text-center">All Rights Reserved © TiriDoctor</p> -->
    <div class="mx-auto" style="width:300px">
      <p>All Rights Reserved © TiriDoctor</p>
    </div>
    <div class="mx-auto" style="width:150px">
      
      <a href="https://www.linkedin.com/in/jose-casorla/" class="fa fa-linkedin"></a>
    </div>
  
  </footer>
    
