
<br>

<div class="row">
    <div class="col-md-4 text-right">
        <h4>ID#{{selectedpat.id}}</h4>
    </div>
    <div class="col-md-4 text-center">
        <h4>{{selectedpat.firstName}} {{selectedpat.lastName}} {{selectedpat.sLastName}}</h4>
    </div>
    <div class="col-md-1">
        <button class="btn btn-outline-primary btn-sm" (click)="refresh()">refresh</button>
    </div>

</div>


<!-- <div class="form-row">
    <div class="form-group col-sm-1">
        <label for="id">ID</label>                    
        <input class="form-control" type="text" name="id" readonly value="{{selectedpat.id}}">
    </div>                   
    
    <div class="form-group col-sm-1">
        <label for="sex">Sexo</label>                    
        <input class="form-control" type="text" name="sex" readonly value="{{selectedpat.sex}}">
    </div>
    <div class="form-group col-sm-1">
        <label for="age">Edad</label>                    
        <input class="form-control" type="text" name="age" readonly value="{{selectedpat.age}}">
    </div>
    <div class="form-group col-sm-3">
        <label for="phone">Telefono</label>                    
        <input class="form-control" type="text" name="phone" readonly value="{{selectedpat.phone}}">
    </div>
    <div class="form-group col-sm-2">
        <label for="ciudad">Ciudad</label>                    
        <input class="form-control" type="text" name="ciudad" readonly value="{{selectedpat.city}}">
    </div>
    <div class="form-group col-sm-2">
        <label for="state">Estado</label>                    
        <input class="form-control" type="text" name="state" readonly value="{{selectedpat.state}}">
    </div>
    
   
</div> -->

<!-- <div class="form-row">
     <div class="form-group col-sm-3">
        <label for="email">Correo</label>                    
        <input class="form-control" type="text" name="email" readonly value="{{selectedpat.email}}">
    </div>
    <div class="form-group col-md-3">
        <label for="nombre">occupacion</label>                    
        <input class="form-control" type="text" name="nombre" readonly value="{{selectedpat.occupation}}">
    </div>
                        
    <div class="form-group col-md-3">
        <label for="address">Dirreccion</label>                    
        <input class="form-control" type="text" name="address" readonly value="{{selectedpat.address}}">
    </div>
    <div class="form-group col-md-3">
        <label for="colonia">Colonia</label>                    
        <input class="form-control" type="text" name="colonia" readonly value="{{selectedpat.colonia}}">
    </div>   
    
    <div class="form-group col-sm-2">
        <label for="zipcode">Codigo Postal</label>                    
        <input class="form-control" type="text" name="zipcode" readonly value="{{selectedpat.zip}}">
    </div>
</div> -->
    
    


<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <form class="form-inline">
        <!-- <button class="btn btn-outline-primary" type="button" (click)="showActual()">Problema Actual</button> -->
        <button class="btn btn-outline-primary" type="button" (click)="showPerfil()">Perfil</button>
        <button class="btn btn-outline-primary" type="button" (click)="showConsultas()">Consultas</button> 
        <button class="btn btn-outline-primary" type="button" (click)="showProblemas()">Problemas</button>
        <button class="btn btn-outline-primary" type="button" (click)="showPatologico()">Patologicos</button>
        <button class="btn btn-outline-primary" type="button" (click)="showNoPatologico()">No Patologicos</button>
        <button class="btn btn-outline-primary" type="button" (click)="showFamiliar(pat)">Familiar</button>
        <button *ngIf="selectedpat.sex === 'F'" class="btn btn-outline-primary" type="button" (click)="showGineco()">Gineco</button>               
        <button class="btn btn-outline-primary" type="button" (click)="showFisico()">Fisico</button>        
        <button class="btn btn-outline-primary" type="button" (click)="showLab()">Laboratorio</button>  
        <button class="btn btn-outline-primary" type="button" (click)="showUpload()">Documentos</button>            
        
    </form>
</nav>

<!-- <div *ngIf='displayIllness'>     
    <app-actual [pat]=selectedpat></app-actual>    
</div> -->


<div *ngIf='displayPatologico'> 
    <app-patologico [pat]=selectedpat></app-patologico>    
</div>

<div *ngIf='displayNoPatologico'> 
    <app-no-patologicos [pat]=selectedpat></app-no-patologicos>    
</div>

<div *ngIf='displayFamiliar'>
    <app-familiar [pat]=selectedpat></app-familiar>    
</div>

<div *ngIf='displayGineco'> 
    <app-gineco [pat]=selectedpat></app-gineco>    
</div>

<div *ngIf='displayFisico'> 
    <app-fisico [pat]=selectedpat></app-fisico>    
</div>
<div *ngIf='displayProblemas'> 
    <app-problemas [pat]=selectedpat></app-problemas>    
</div>

<div *ngIf='displayConsultas'> 
    <app-consulta [pat]=selectedpat></app-consulta>    
</div>

<div *ngIf='displayLab'>     
    <app-lab [pat]=selectedpat></app-lab>    
</div>
<div *ngIf='displayUpload'>     
    <app-upload [pat]=selectedpat></app-upload>    
</div>
<div *ngIf='displayPerfil'>     
    <app-perfil [pat]=selectedpat></app-perfil>    
</div>