/* You can add global styles to this file, and also import other style files */

body {
    background-image: url(medical-back5.jpg);
}
/* body {
    background-color: red;
} */

label.required::after {
    content: " *";
    color: red;
}



