<div class="row">
    <div class="col-sm-2">
        <h2>Laboratorio</h2>
    </div>
    <div class="col-sm-5">
        <button *ngIf="!show" class="btn btn-outline-primary btn-sm" (click)="showTable()">Tabla</button>
        <button *ngIf="show" class="btn btn-outline-danger btn-sm" (click)="hideTable()">Ocultar Tabla</button>
        <button class="btn btn-outline-success btn-sm">Salvar</button>
    </div>

</div>
<div class='col-lg scroll scrollbar-primary'>
    <br>

    <div *ngIf="show" class="container-fluid col-lg-10">
        <table class="table-sm table-light" > 
           
            <tbody>
                
                <tr class="d-flex">
                    <td class="col-sm"><input class="col-sm" type="text"></td>
                    <td class="col-sm"><input class="col-sm" type="text"></td>
                    <td class="col-sm"><input class="col-sm"  type="text"></td>
                    <td class="col-sm"><input class="col-sm"  type="text"></td>
                    <td class="col-sm"><input class="col-sm"  type="text"></td>
                    <td class="col-sm"><input class="col-sm"  type="text"></td>
                    <td class="col-sm"><input class="col-sm"  type="text"></td>              
                </tr>
                <tr class="d-flex">
                    <td class="col-sm"><input class="col-sm" type="text"></td>
                    <td class="col-sm"><input class="col-sm" type="text"></td>
                    <td class="col-sm"><input class="col-sm"  type="text"></td>
                    <td class="col-sm"><input class="col-sm"  type="text"></td>
                    <td class="col-sm"><input class="col-sm"  type="text"></td>
                    <td class="col-sm"><input class="col-sm"  type="text"></td>
                    <td class="col-sm"><input class="col-sm"  type="text"></td>              
                </tr> 
                <tr class="d-flex">
                    <td class="col-sm"><input class="col-sm" type="text"></td>
                    <td class="col-sm"><input class="col-sm" type="text"></td>
                    <td class="col-sm"><input class="col-sm"  type="text"></td>
                    <td class="col-sm"><input class="col-sm"  type="text"></td>
                    <td class="col-sm"><input class="col-sm"  type="text"></td>
                    <td class="col-sm"><input class="col-sm"  type="text"></td>
                    <td class="col-sm"><input class="col-sm"  type="text"></td>              
                </tr> 
                <tr class="d-flex">
                    <td class="col-sm"><input class="col-sm" type="text"></td>
                    <td class="col-sm"><input class="col-sm" type="text"></td>
                    <td class="col-sm"><input class="col-sm"  type="text"></td>
                    <td class="col-sm"><input class="col-sm"  type="text"></td>
                    <td class="col-sm"><input class="col-sm"  type="text"></td>
                    <td class="col-sm"><input class="col-sm"  type="text"></td>
                    <td class="col-sm"><input class="col-sm"  type="text"></td>              
                </tr> 
                <tr class="d-flex">
                    <td class="col-sm"><input class="col-sm" type="text"></td>
                    <td class="col-sm"><input class="col-sm" type="text"></td>
                    <td class="col-sm"><input class="col-sm"  type="text"></td>
                    <td class="col-sm"><input class="col-sm"  type="text"></td>
                    <td class="col-sm"><input class="col-sm"  type="text"></td>
                    <td class="col-sm"><input class="col-sm"  type="text"></td>
                    <td class="col-sm"><input class="col-sm"  type="text"></td>              
                </tr> 
                <tr class="d-flex">
                    <td class="col-sm"><input class="col-sm" type="text"></td>
                    <td class="col-sm"><input class="col-sm" type="text"></td>
                    <td class="col-sm"><input class="col-sm"  type="text"></td>
                    <td class="col-sm"><input class="col-sm"  type="text"></td>
                    <td class="col-sm"><input class="col-sm"  type="text"></td>
                    <td class="col-sm"><input class="col-sm"  type="text"></td>
                    <td class="col-sm"><input class="col-sm"  type="text"></td>              
                </tr> 
                <tr class="d-flex">
                    <td class="col-sm"><input class="col-sm" type="text"></td>
                    <td class="col-sm"><input class="col-sm" type="text"></td>
                    <td class="col-sm"><input class="col-sm"  type="text"></td>
                    <td class="col-sm"><input class="col-sm"  type="text"></td>
                    <td class="col-sm"><input class="col-sm"  type="text"></td>
                    <td class="col-sm"><input class="col-sm"  type="text"></td>
                    <td class="col-sm"><input class="col-sm"  type="text"></td>              
                </tr> 
                <tr class="d-flex">
                    <td class="col-sm"><input class="col-sm" type="text"></td>
                    <td class="col-sm"><input class="col-sm" type="text"></td>
                    <td class="col-sm"><input class="col-sm"  type="text"></td>
                    <td class="col-sm"><input class="col-sm"  type="text"></td>
                    <td class="col-sm"><input class="col-sm"  type="text"></td>
                    <td class="col-sm"><input class="col-sm"  type="text"></td>
                    <td class="col-sm"><input class="col-sm"  type="text"></td>              
                </tr> 
                <tr class="d-flex">
                    <td class="col-sm"><input class="col-sm" type="text"></td>
                    <td class="col-sm"><input class="col-sm" type="text"></td>
                    <td class="col-sm"><input class="col-sm"  type="text"></td>
                    <td class="col-sm"><input class="col-sm"  type="text"></td>
                    <td class="col-sm"><input class="col-sm"  type="text"></td>
                    <td class="col-sm"><input class="col-sm"  type="text"></td>
                    <td class="col-sm"><input class="col-sm"  type="text"></td>              
                </tr> 
                <tr class="d-flex">
                    <td class="col-sm"><input class="col-sm" type="text"></td>
                    <td class="col-sm"><input class="col-sm" type="text"></td>
                    <td class="col-sm"><input class="col-sm"  type="text"></td>
                    <td class="col-sm"><input class="col-sm"  type="text"></td>
                    <td class="col-sm"><input class="col-sm"  type="text"></td>
                    <td class="col-sm"><input class="col-sm"  type="text"></td>
                    <td class="col-sm"><input class="col-sm"  type="text"></td>              
                </tr>
        
            </tbody> 
        </table>
        <br>
        <br> 
    </div>

    <div *ngIf="!show" class="col-lg">
        <!-- <div class="col-lg">
            <div *ngIf="errors">
                <p class="text-danger" *ngFor="let item of errors ">{{item}}</p>
            </div>
        </div> -->
        <form  #saveForm="ngForm" (submit)="onCreate(pat, saveForm)">
           
            <div class="form-row">
                <div class="form-group col-lg">
                    <label for="imagen" class="required">Estudios de Imagen</label>
                    
                    <textarea class="form-control"  name="imagen" [ngModel]="lab.imagen" cols="5" rows="5" 
                    minlength="10"
                    #imagen="ngModel"></textarea>
                    <div *ngIf="(imagen.touched || imagen.dirty) && imagen.errors"> 
                        <!-- <div *ngIf="imagen?.errors?.required" class="alert alert-danger">
                            Necesario
                        </div>                       -->
                        <div *ngIf="imagen?.errors?.minlength" class="alert alert-danger">
                            Por lo menos
                            {{ imagen?.errors?.minlength.requiredLength }} letras
                        </div>
                        
                    </div>
            
                </div>
                <div class="form-group col-lg">
                    <label for="consulta" class="required">Otros</label>
                    
                    <textarea class="form-control"  name="otro" [ngModel]="lab.otro" cols="5" rows="5"                    
                    minlength="10"
                    #otro="ngModel"></textarea>
                    <div *ngIf="(otro.touched || otro.dirty) && otro.errors">
                        
                        <div *ngIf="otro?.errors?.minlength" class="alert alert-danger">
                            Por lo menos
                            {{ otro?.errors?.minlength.requiredLength }} letras
                        </div>
                        
                    </div>
            
                </div>
    
            </div>

            <div class="form-row">
                <div class="form-group col-lg">
                    <label for="torax" class="required">Torax</label>
                    
                    <textarea class="form-control"  name="torax" [ngModel]="lab.torax" cols="5" rows="5" 
                    minlength="10"
                    #torax="ngModel"></textarea>
                    <div *ngIf="(torax.touched || torax.dirty) && torax.errors">
                        
                        <div *ngIf="torax?.errors?.minlength" class="alert alert-danger">
                            Por lo menos
                            {{ torax?.errors?.minlength.requiredLength }} letras
                        </div>                        
                    </div>
            
                </div>
                <div class="form-group col-lg">
                    <label for="abdomen" class="required">Abdomen</label>
                    
                    <textarea class="form-control"  name="consulta" [ngModel]="lab.abdomen" cols="5" rows="5" 
                    minlength="10"
                    #abdomen="ngModel"></textarea>
                    <div *ngIf="(abdomen.touched || abdomen.dirty) && abdomen.errors">                      
                        <div *ngIf="abdomen?.errors?.minlength" class="alert alert-danger">
                            Por lo menos
                            {{ abdomen?.errors?.minlength.requiredLength }} letras
                        </div>
                        
                    </div>
            
                </div>
                
    
            </div>
            <div class="form-row">
                <div class="form-group col-lg">
                    <label for="extre" class="required">Extremidades</label>
                    
                    <textarea class="form-control"  name="extre" [ngModel]="lab.extre" cols="5" rows="5" 
                    minlength="10"
                    #extre="ngModel"></textarea>
                    <div *ngIf="(extre.touched || extre.dirty) && extre.errors">
                        
                        <div *ngIf="extre?.errors?.minlength" class="alert alert-danger">
                            Por lo menos
                            {{ extre?.errors?.minlength.requiredLength }} letras
                        </div>                        
                    </div>
            
                </div>
                <div class="form-group col-lg">
                    <label for="neuro" class="required">Neurologico Y Estado Mental</label>
                    
                    <textarea class="form-control"  name="neuro" [ngModel]="lab.neuro" cols="5" rows="5" 
                    minlength="10"
                    #neuro="ngModel"></textarea>
                    <div *ngIf="(neuro.touched || neuro.dirty) && neuro.errors">                      
                        <div *ngIf="neuro?.errors?.minlength" class="alert alert-danger">
                            Por lo menos
                            {{ neuro?.errors?.minlength.requiredLength }} letras
                        </div>
                        
                    </div>
            
                </div>
            </div>        
    
            <button *ngIf="!saveForm.valid" class="btn btn-primary btn-sm" disabled>Añadir</button>
            <button *ngIf="saveForm.valid" class="btn btn-primary btn-sm">Añadir</button>
            <button class="btn btn-danger btn-sm" (click)="refresh()">Cancelar</button>
            
        </form>
        <br><br>
    </div>
</div>

