<h2>Antecedentes Familiares</h2>

<div class='col-lg'>
    <br>
    <form  (submit)="onSubmit($event, newForm)" #newForm="ngForm">
        <div class="form-check form-check-inline">
            <label class="form-check-label" >Padre Vivos?</label>
        </div>
        <div class="form-check form-check-inline">            
            <input class="form-check-input" type="radio" name="padreVivoSi" id="padreVivoSi" value="true">
            <label class="form-check-label" for="padreVivoSi">Si</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="padreVivoNo" id="padreVivoNo" value="false">
            <label class="form-check-label" for="padreVivoNo">No</label>
        </div>
        
        <br>
        <div class="form-row">
            <div class="form-group col-lg">
                <label for="fatherContent">Enfermedades que Padece</label>
                
                <textarea class="form-control"  name="fatherContent" cols="3" rows="3"></textarea>
        
            </div>

        </div>

        <div class="form-check form-check-inline">
            <label class="form-check-label" >Madre Vivos?</label>
        </div>
        <div class="form-check form-check-inline">            
            <input class="form-check-input" type="radio" name="madreVivoSi" id="madreVivoSi" value="true">
            <label class="form-check-label" for="madreVivoSi">Si</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="madreVivoNo" id="madreVivoNo" value="false">
            <label class="form-check-label" for="madreVivoNo">No</label>
        </div>
        
        <br>
        <div class="form-row">
            <div class="form-group col-lg">
                <label for="motherContent">Enfermedades que Padece</label>
                
                <textarea class="form-control"  name="motherContent" cols="3" rows="3"></textarea>
        
            </div>

        </div>
        <div class="form-check form-check-inline ">
            <label class="form-check-label" >Hermanos Cuantos?</label>
                
        </div>
        <div class="form-check form-check-inline ">
            <input class="col-sm-6" type="number" name="cuantos">         
                
        </div>
        <div class="form-check form-check-inline">
            <label class="form-check-label" >Vivos?</label>
        </div>
        <div class="form-check form-check-inline">            
            <input class="form-check-input" type="radio" name="broVivoSi" id="broVivoSi" value="true">
            <label class="form-check-label" for="broVivoSi">Si</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="broVivoNo" id="briVivoNo" value="false">
            <label class="form-check-label" for="broVivoNo">No</label>
        </div>
        <br>
        
        <div class="form-row">
            <div class="form-group col-lg">
                <label for="broContent">Enfermedades que Padecen</label>
                
                <textarea class="form-control"  name="motherContent" cols="3" rows="3"></textarea>
        
            </div>

        </div>

        
        
        <button *ngIf="newForm.valid" class="btn btn-primary btn-sm">Add</button>
        <button class="btn btn-danger btn-sm" [routerLink]="['/home']">Cancel</button>
        
    </form>
    <br>

</div>
