
<div class="col-xl">
    <br>
    <h1 class="text-center">Lista de Pacientes</h1>
    <input type="text" [(ngModel)]="name" (input)="search()" placeholder="Busqueda" aria-label="Search">
    <br>
    <div class="scroll2 scrollbar-primary mt-2">    
    
        <table class="table table-light" > 
            <thead class="table-primary">
                <tr><th>#</th><th>Pacientes</th><th>Actiones Disponibles</th></tr>  
            </thead>
        
            <tbody *ngFor="let pat of patients">
                
                <tr>
                    <th scope="row">{{pat.pid}}</th>
                    <td><button [routerLink]="['/app/view/' + pat._id]" type="button" class="btn btn-link btn-sm">{{pat.firstName}} {{pat.lastName}} {{pat.sLastName}}</button></td>   
                    <td> <button [routerLink]="['/app/edit/' + pat._id]" type="button" class="btn btn-link btn-sm">Editar</button> | <button (click)="onClickDelete(pat)" type="button" class="btn btn-link btn-sm">Eliminar</button> </td>
                
                </tr> 
        
            </tbody>
            
            
        </table>
                
    
        </div>

</div>

