<h2>Exploracion Fisica</h2>

<div class="col-lg">
    <div *ngIf="errors">
        <p class="text-danger" *ngFor="let item of errors ">{{item}}</p>
    </div>
</div>

<div class='col-lg scroll scrollbar-primary' *ngIf="show">
    <br> 
    <form  #newForm="ngForm" (submit)="onCreate(pat,newForm)">
        
        <div class="form-row">
            <div class="form-group col-sm-2">
                <label for="taDerecho" class="required">T.A. (derecho)</label>                    
                <input class="form-control" type="text" name="taDerecho" [ngModel]="fisico.taDerecho"
                required
                #taDerecho="ngModel">
                <div *ngIf="(taDerecho.touched || taDerecho.dirty) && taDerecho.errors">
                    <div *ngIf="taDerecho?.errors?.required" class="alert alert-danger">
                        Necesario
                    </div>
                    
                </div>
            </div>
            <div class="form-group col-sm-2">
                <label for="taIzquierdo" class="required">T.A. (izquierdo)</label>                    
                <input class="form-control" type="text" name="taIzquierdo" [ngModel]="fisico.taIzquierdo"
                required
                #taIzquierdo="ngModel">
                <div *ngIf="(taIzquierdo.touched || taIzquierdo.dirty) && taIzquierdo.errors">
                    <div *ngIf="taIzquierdo?.errors?.required" class="alert alert-danger">
                        Necesario
                    </div>
                    
                </div>
            </div>
            <div class="form-group col-sm-2">
                <label for="freqC" class="required">F.C.</label>                    
                <input class="form-control" type="text" name="freqC" [ngModel]="fisico.freqC"
                required
                #freqC="ngModel">
                <div *ngIf="(freqC.touched || freqC.dirty) && freqC.errors">
                    <div *ngIf="freqC?.errors?.required" class="alert alert-danger">
                        Necesario
                    </div>
                    
                </div>
            </div>
            <div class="form-group col-sm-2">
                <label for="freqR" class="required">Frec. Resp.</label>                    
                <input class="form-control" type="text" name="freqR" [ngModel]="fisico.freqR"
                required
                #freqR="ngModel">
                <div *ngIf="(freqR.touched || freqR.dirty) && freqR.errors">
                    <div *ngIf="freqR?.errors?.required" class="alert alert-danger">
                        Necesario
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-sm-2">
                <label for="temp" class="required">Temp.</label>                    
                <input class="form-control" type="text" name="temp" [ngModel]="fisico.temp"
                required
                #temp="ngModel">
                <div *ngIf="(temp.touched || temp.dirty) && temp.errors">
                    <div *ngIf="temp?.errors?.required" class="alert alert-danger">
                        Necesario
                    </div>
                    
                </div>
            </div>
            <div class="form-group col-sm-2">
                <label for="peso" class="required">Peso</label>                    
                <input class="form-control" type="text" name="peso" [ngModel]="fisico.peso"
                required
                #peso="ngModel">
                <div *ngIf="(peso.touched || peso.dirty) && peso.errors">
                    <div *ngIf="peso?.errors?.required" class="alert alert-danger">
                        Necesario
                    </div>
                    
                </div>
            </div>
            <div class="form-group col-sm-2">
                <label for="talla" class="required">Talla</label>                    
                <input class="form-control" type="text" name="talla" [ngModel]="fisico.talla"
                required
                #talla="ngModel">
                <div *ngIf="(talla.touched || talla.dirty) && talla.errors">
                    <div *ngIf="talla?.errors?.required" class="alert alert-danger">
                        Necesario
                    </div>
                    
                </div>
            </div>
            <div class="form-group col-sm-2">
                <label for="imc" class="required">IMC</label>                    
                <input class="form-control" type="text" name="imc" [ngModel]="fisico.imc"
                required
                #imc="ngModel">
                <div *ngIf="(imc.touched || imc.dirty) && imc.errors">
                    <div *ngIf="imc?.errors?.required" class="alert alert-danger">
                        Necesario
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-lg">
                <label for="cabeza" class="required">Cabeza Y Cuello</label>
                
                <textarea class="form-control"  name="cabeza" cols="3" rows="3" [ngModel]="fisico.cabeza"
                required
                #cabeza="ngModel"></textarea>
                <div *ngIf="(cabeza.touched || cabeza.dirty) && cabeza.errors">
                    <div *ngIf="cabeza?.errors?.required" class="alert alert-danger">
                        Necesario
                    </div>
                    
                </div>
        
            </div>

        </div>
        <br>
        <button *ngIf="!newForm.valid" class="btn btn-primary btn-sm" disabled>Añadir</button>
        <button *ngIf="newForm.valid" class="btn btn-primary btn-sm">Añadir</button>
        <button class="btn btn-danger btn-sm" (click)="refresh()">Cancelar</button>
        
    </form>
    <br><br>
    
</div>

<div *ngIf="!show">
    <br>
    <div class='col-lg scroll scrollbar-primary' *ngFor="let list of pat.fisico">

        <form  #upForm="ngForm" (submit)="onUpdate(upForm)">
            
            <div class="form-row">
                <div class="form-group col-sm-2">
                    <label for="taDerecho" class="required">T.A. (derecho)</label>                    
                    <input class="form-control" type="text" name="taDerecho" [ngModel]="list.taDerecho"
                    required
                    #taDerecho="ngModel">
                    <div *ngIf="(taDerecho.touched || taDerecho.dirty) && taDerecho.errors">
                        <div *ngIf="taDerecho?.errors?.required" class="alert alert-danger">
                            Necesario
                        </div>
                        
                    </div>
                </div>              
                <div class="form-group col-sm-2">
                    <label for="taIzquierdo" class="required">T.A. (izquierdo)</label>                    
                    <input class="form-control" type="text" name="taIzquierdo" [ngModel]="list.taIzquierdo"
                    required
                    #taIzquierdo="ngModel">
                    <div *ngIf="(taIzquierdo.touched || taIzquierdo.dirty) && taIzquierdo.errors">
                        <div *ngIf="taIzquierdo?.errors?.required" class="alert alert-danger">
                            Necesario
                        </div>
                        
                    </div>
                </div>
                <div class="form-group col-sm-2">
                    <label for="freqC" class="required">F.C.</label>                    
                    <input class="form-control" type="text" name="freqC" [ngModel]="list.freqC"
                    required
                    #freqC="ngModel">
                    <div *ngIf="(freqC.touched || freqC.dirty) && freqC.errors">
                        <div *ngIf="freqC?.errors?.required" class="alert alert-danger">
                            Necesario
                        </div>
                        
                    </div>
                </div>
                <div class="form-group col-sm-2">
                    <label for="freqR" class="required">Frec. Resp.</label>                    
                    <input class="form-control" type="text" name="freqR" [ngModel]="list.freqR"
                    required
                    #freqR="ngModel">
                    <div *ngIf="(freqR.touched || freqR.dirty) && freqR.errors">
                        <div *ngIf="freqR?.errors?.required" class="alert alert-danger">
                            Necesario
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-2">
                    <label for="temp" class="required">Temp.</label>                    
                    <input class="form-control" type="text" name="temp" [ngModel]="list.temp"
                    required
                    #temp="ngModel">
                    <div *ngIf="(temp.touched || temp.dirty) && temp.errors">
                        <div *ngIf="temp?.errors?.required" class="alert alert-danger">
                            Necesario
                        </div>
                        
                    </div>
                </div>
                <div class="form-group col-sm-2">
                    <label for="peso" class="required">Peso</label>                    
                    <input class="form-control" type="text" name="peso" [ngModel]="list.peso"
                    required
                    #peso="ngModel">
                    <div *ngIf="(peso.touched || peso.dirty) && peso.errors">
                        <div *ngIf="peso?.errors?.required" class="alert alert-danger">
                            Necesario
                        </div>
                        
                    </div>
                </div>
                <div class="form-group col-sm-2">
                    <label for="talla" class="required">Talla</label>                    
                    <input class="form-control" type="text" name="talla" [ngModel]="list.talla"
                    required
                    #talla="ngModel">
                    <div *ngIf="(talla.touched || talla.dirty) && talla.errors">
                        <div *ngIf="talla?.errors?.required" class="alert alert-danger">
                            Necesario
                        </div>
                        
                    </div>
                </div>
                <div class="form-group col-sm-2">
                    <label for="imc" class="required">IMC</label>                    
                    <input class="form-control" type="text" name="imc" [ngModel]="list.imc"
                    required
                    #imc="ngModel">
                    <div *ngIf="(imc.touched || imc.dirty) && imc.errors">
                        <div *ngIf="imc?.errors?.required" class="alert alert-danger">
                            Necesario
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-lg">
                    <label for="cabeza" class="required">Cabeza Y Cuello</label>
                    
                    <textarea class="form-control"  name="cabeza" cols="3" rows="3" [ngModel]="list.cabeza"
                    required
                    #cabeza="ngModel"></textarea>
                    <div *ngIf="(cabeza.touched || cabeza.dirty) && cabeza.errors">
                        <div *ngIf="cabeza?.errors?.required" class="alert alert-danger">
                            Necesario
                        </div>
                        
                    </div>
            
                </div>
    
            </div>
            <input type="hidden" name="_id" [ngModel]="list._id" class="form-control">
            <input type="hidden" name="_id2" [ngModel]="pat._id" class="form-control">
                
            <br>
            <button *ngIf="!upForm.valid" class="btn btn-primary btn-sm" disabled>Salvar</button>
            <button *ngIf="upForm.valid" class="btn btn-primary btn-sm">Salvar</button>
            <button class="btn btn-danger btn-sm" (click)="refresh()">Cancelar</button>
            
        </form>
        <br><br>
        
    </div>


</div>
