<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<div class="container text-align">
  <!-- <h3>Tiri Doctor</h3> -->
 
  <div class="row">
    
    <div class ="col-xl outline">
       
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="#">Casa</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <!-- <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/home']">Casa</a>
              </li> -->
              
              <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/new-pat']">Crear Paciente <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/list']">Lista de Pacientes</a>
              </li>
                          
            </ul>
        </div>
        <form class="form-inline">
          <h2>TiriDoctor</h2>
          <!-- <input class="form-control mr-sm-2" type="search" placeholder="Busqueda" aria-label="Search"> -->
          <!-- <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Busqueda</button> -->
        </form>
        <!-- <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Busqueda" aria-label="Search">
          <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Busqueda</button>
        </form> -->
      </nav>
      <!-- <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']">Home</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>

      </ul> -->
      <!-- <button [routerLink]="['/home']">Home</button> -->
      
      <!-- <button [routerLink]="['/new']">New</button> -->
      <!-- <button [routerLink]="['/edit/4']">Edit</button> -->

      <router-outlet></router-outlet> 

      
    </div>
      
  
        

  </div>


  


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


