<h1 class="text-center">Mi Cuenta</h1>

<div class='col-lg'>    
    <br>
       
    <div class="form-row">
                
        <div class="form-group col-md-2">
            <label for="firstName">Primer Nombre</label>                    
            <input type="text" name="firstName" [ngModel]="user.firstName" class="form-control" readonly>               
        </div>
        
        <div class="form-group col-md-2">
            <label for="lastName">Apellido</label>
            <input type="text" name="lastName" [ngModel]="user.lastName" class="form-control" readonly>                
        </div>
        <div class="form-group col-md-3">
            <label for="email">Correo</label>
            <input type="text" name="email" [ngModel]="user.email" class="form-control" readonly>
        </div>
        <div class="form-group col-md-2">
            <label for="username">username</label>
            <input type="text" name="username" [ngModel]="user.username" class="form-control" readonly>
    
        </div>
    </div>

    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <form class="form-inline">
            <button class="btn btn-outline-primary" type="button" (click)="showName()">Editar Nombre</button>
            <button class="btn btn-outline-primary" type="button" (click)="showEmail()">Editar Correo</button>
            <button class="btn btn-outline-primary" type="button" (click)="showUn()">Editar username</button>
            <button class="btn btn-outline-primary" type="button" (click)="showPw()">Editar Contrasena</button>
            
        </form>
    </nav>

    <div *ngIf='displayName'>
        <div *ngIf="errors">
            <p class="text-danger" *ngFor="let item of errors ">{{item}}</p>
        </div>
        <form  (submit)="onSubmit($event, upForm1)" #upForm1="ngForm">
            <div class="form-row">
                    
                <div class="form-group col-md-2">
                    <label class="required" for="firstName">Primer Nombre</label>                    
                    <input type="text" name="firstName"
                    required
                    minlength="3" 
                    [(ngModel)]="user.firstName"
                    #firstName="ngModel" 
                    class="form-control" >
                    <div *ngIf="(firstName.touched || firstName.dirty) && firstName.errors">
                        <div *ngIf="firstName?.errors?.required" class="alert alert-danger">
                            debes ingresar el primer nombre
                        </div>
                        <div *ngIf="firstName?.errors?.minlength" class="alert alert-danger">
                            el primer nombre debe tener
                            {{ firstName?.errors?.minlength.requiredLength }} letras
                        </div>
                    </div>
            
                </div>
                
                <div class="form-group col-md-2">
                    <label class="required" for="lastName">Apellido</label>
                    <input type="text" name="lastName" [(ngModel)]="user.lastName" class="form-control"
                    required
                    minlength="3" 
                    #lastName="ngModel" 
                    >
                    <div *ngIf="(lastName.touched || lastName.dirty) && lastName.errors">
                        <div *ngIf="lastName?.errors?.required" class="alert alert-danger">
                            debes ingresar el apellido
                        </div>
                        <div *ngIf="lastName?.errors?.minlength" class="alert alert-danger">
                            el primer appellido debe tener
                            {{ lastName?.errors?.minlength.requiredLength }} letras
                        </div>
                        
                    </div>
            
                </div>
               
            </div>
            <button *ngIf="upForm1.valid" class="btn btn-primary btn-sm">Editar</button>
            <button *ngIf="!upForm1.valid" class="btn btn-primary btn-sm" disabled>Editar</button>
            <button class="btn btn-danger btn-sm" (click)="refresh()">Cancelar</button>  
            
        </form>
        
           
        <br>    

    </div>

    <div *ngIf='displayEmail'>
        <div *ngIf="errors">
            <p class="text-danger" *ngFor="let item of errors ">{{item}}</p>
        </div>
        <form (submit)="onSubmitConfirm()" #upForm2="ngForm">
            <div class="form-row">   

                <div class="form-group col-md-3">
                    <label class="required" for="email">Correo</label>
                    <input type="text" name="email"  [ngModel]="user2.email" class="form-control"
                    
                    required
                    minlength="3" 
                    #email="ngModel"
                    pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                    >
                    <div *ngIf="(email.touched || email.dirty) && email.errors">
                        <div *ngIf="email?.errors?.required" class="alert alert-danger">
                            debes ingresar el correo
                        </div>
                        <div *ngIf="email?.errors && email?.errors?.pattern" class="alert alert-danger">
                            el correo invalido
                        </div>
                        
                    </div>
            
                </div>
                <div class="form-group col-md-3">
                    <label class="required" for="password">Contraseña</label>
                    <input type="password" name="password" [ngModel]="user2.password" class="form-control"
                    required
                    #pwd="ngModel" 
                    >
                    <div *ngIf="(pwd.touched || pwd.dirty) && pwd.errors">
                        <div *ngIf="pwd?.errors?.required" class="alert alert-danger">
                            debes ingresar la contraseña
                        </div>                        
                        
                    </div>
            
                </div>
               
            </div>
            <input type="hidden" name="_id" [ngModel]="user._id" class="form-control">
            <input type="hidden" name="firstName" [ngModel]="user.firstName" class="form-control">
            <input type="hidden" name="lastName" [ngModel]="user.lastName" class="form-control">
            <input type="hidden" name="username" [ngModel]="user.username" class="form-control">
            <input type="hidden" name="createdAt" [ngModel]="user.createdAt" class="form-control">
            <button *ngIf="upForm2.valid" class="btn btn-primary btn-sm">Editar</button>
            <button *ngIf="!upForm2.valid" class="btn btn-primary btn-sm" disabled>Editar</button>
            <button class="btn btn-danger btn-sm" (click)="refresh()">Cancelar</button>  
            
        </form>
        
           
        <br>    


    </div>

    <div *ngIf='displayUn'>
        <div *ngIf="errors">
            <p class="text-danger" *ngFor="let item of errors ">{{item}}</p>
        </div>
        <form (submit)="onSubmitConfirm(upForm3)" #upForm3="ngForm">
            <div class="form-row">   

                <div class="form-group col-md-3">
                    <label class="required" for="username">username</label>
                    <input type="text" name="username" [ngModel]="user2.username" class="form-control"
                    required
                    minlength="5" 
                    #username="ngModel" 
                    >
                    <div *ngIf="(username.touched || username.dirty) && username.errors">
                        <div *ngIf="username?.errors?.required" class="alert alert-danger">
                            debes ingresar el usernmae
                        </div>
                        <div *ngIf="username?.errors?.minlength" class="alert alert-danger">
                            el username debe tener
                            {{ username?.errors?.minlength.requiredLength }} letras
                        </div>
                        
                    </div>
            
                </div>
                <div class="form-group col-md-3">
                    <label class="required" for="password">Contraseña</label>
                    <input type="password" name="password" [ngModel]="user2.password" class="form-control"
                    required
                    #pwd="ngModel" 
                    >
                    <div *ngIf="(pwd.touched || pwd.dirty) && pwd.errors">
                        <div *ngIf="pwd?.errors?.required" class="alert alert-danger">
                            debes ingresar la contraseña
                        </div>                        
                        
                    </div>
            
                </div>
               
            </div>
            <input type="hidden" name="_id" [ngModel]="user._id" class="form-control">
            <input type="hidden" name="firstName" [ngModel]="user.firstName" class="form-control">
            <input type="hidden" name="lastName" [ngModel]="user.lastName" class="form-control">
            <input type="hidden" name="email" [ngModel]="user.email" class="form-control">
            <input type="hidden" name="createdAt" [ngModel]="user.createdAt" class="form-control">
            <button *ngIf="upForm3.valid" class="btn btn-primary btn-sm">Editar</button>
            <button *ngIf="!upForm3.valid" class="btn btn-primary btn-sm" disabled>Editar</button>
            <button class="btn btn-danger btn-sm" (click)="refresh()">Cancelar</button>  
            
        </form>
        
           
        <br>            

    </div>

    <div *ngIf='displayPwd'>
        <div *ngIf="errors">
            <p class="text-danger" *ngFor="let item of errors ">{{item}}</p>
        </div>
        <form (submit)="onSubmitPwd(upForm4)" #upForm4="ngForm">
            <div class="form-row">   

                <div class="form-group col-md-3">
                    <label class="required" for="current">Contraseña Actual</label>
                    <input type="password" name="current" [ngModel]="user2.current" class="form-control"
                    required
                    #current="ngModel" 
                    >
                    <div *ngIf="(current.touched || current.dirty) && current.errors">
                        <div *ngIf="current?.errors?.required" class="alert alert-danger">
                            debes ingresar la contraseña
                        </div>
                        
                        
                    </div>
            
                </div>
                <div class="form-group col-md-3">
                    <label class="required" for="password">Nueva Contraseña</label>
                    <input type="password" name="password" [ngModel]="user2.password" class="form-control"
                    required
                    minlength="4" 
                    #pwd="ngModel" 
                    >
                    <div *ngIf="(pwd.touched || pwd.dirty) && pwd.errors">
                        <div *ngIf="pwd?.errors?.required" class="alert alert-danger">
                            debes ingresar la nueva contrasena
                        </div>
                        <div *ngIf="pwd?.errors?.minlength" class="alert alert-danger">
                            la nueva contraseña debe tener
                            {{ pwd?.errors?.minlength.requiredLength }} letras
                        </div>                     
                        
                    </div>
            
                </div>
                <div class="form-group col-md-3">
                    <label class="required" for="cpwd">Confirma Contraseña</label>
                    <input type="password" name="cpwd" [ngModel]="user2.cpwd" class="form-control"
                    required
                    minlength="4" 
                    #cpwd="ngModel" 
                    >
                    <div *ngIf="(cpwd.touched || cpwd.dirty) && cpwd.errors">
                        <div *ngIf="cpwd?.errors?.required" class="alert alert-danger">
                            debes confirmar contraseña
                        </div>
                        <div *ngIf="cpwd?.errors?.minlength" class="alert alert-danger">
                            confirma contraseña debe tener
                            {{ cpwd?.errors?.minlength.requiredLength }} letras
                        </div>                        
                        
                    </div>
            
                </div>
               
            </div>
            <input type="hidden" name="_id" [ngModel]="user._id" class="form-control">
            <input type="hidden" name="username" [ngModel]="user.username" class="form-control">
            <input type="hidden" name="firstName" [ngModel]="user.firstName" class="form-control">
            <input type="hidden" name="lastName" [ngModel]="user.lastName" class="form-control">
            <input type="hidden" name="email" [ngModel]="user.email" class="form-control">
            <input type="hidden" name="createdAt" [ngModel]="user.createdAt" class="form-control">
            <button *ngIf="upForm4.valid" class="btn btn-primary btn-sm">Editar</button>
            <button *ngIf="!upForm4.valid" class="btn btn-primary btn-sm" disabled>Editar</button>
            <button class="btn btn-danger btn-sm" (click)="refresh()">Cancelar</button>  
            
        </form>
        
           
        <br>    

    </div>

    

</div>
        
